---
####
server.name: {{ container_name }}
server.host: "0.0.0.0"

#elasticsearch connection
elasticsearch.hosts: [ "https://{{ kibana_elasticsearch_connection_host }}:{{ kibana_elasticsearch_connection_port }}" ]

#xpack credentials
elasticsearch.username: {{ elasticsearch_username }}
elasticsearch.password: {{ elasticsearch_password }}

#uncomment this if you want to run tls straight from kibana instead of nginx
#would require nginx to be disabled
#server.ssl.enabled: true


server.ssl.certificate: /etc/pki/tls/private/{{ container_name }}/{{ container_name }}.crt
server.ssl.key: /etc/pki/tls/private/{{ container_name }}/{{ container_name }}.key
elasticsearch.ssl.certificateAuthorities: /etc/pki/tls/private/ca/ca.crt
