#network
node.name: {{ container_name }}
cluster.name: "docker-cluster"
network.host: 0.0.0.0
transport.host: 0.0.0.0
http.port: {{ container_http_port }}
transport.port: {{ container_transport_port }}

#master node with ingest
node.master: true
node.voting_only: false
node.data: false
node.ingest: true
node.ml: false
node.transform: false
node.remote_cluster_client: false

#discovery
discovery.seed_hosts: es01:9301
cluster.initial_master_nodes: es01

#disable swap
bootstrap.memory_lock: true

#xpack
xpack.license.self_generated.type: basic
xpack.security.enabled: true
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: /usr/share/elasticsearch/config/certificates/{{ container_name }}/{{ container_name }}.key
xpack.security.http.ssl.certificate_authorities: /usr/share/elasticsearch/config/certificates/ca/ca.crt
xpack.security.http.ssl.certificate: /usr/share/elasticsearch/config/certificates/{{ container_name }}/{{ container_name }}.crt
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.certificate_authorities: /usr/share/elasticsearch/config/certificates/ca/ca.crt
xpack.security.transport.ssl.certificate: /usr/share/elasticsearch/config/certificates/{{ container_name }}/{{ container_name }}.crt
xpack.security.transport.ssl.key: /usr/share/elasticsearch/config/certificates/{{ container_name }}/{{ container_name }}.key
